
<details class="collapsible-section" id="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">
  <summary class="u-h3">{{ category[0] | replace: '-', ' ' | capitalize }} <span class="post-count">({{ category[1].size }})</span></summary>
  <ul class="archive-list">
    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
        {% if group == null or group == post.group %}
          <li>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
</details>
