<nav>
  <a class="page-link hamburger-menu" id="navigation" href="#" aria-label="Toggle navigation menu">
    <div class="hamburger-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>

  {%- for path in page_paths -%}
  {%- assign my_page = site.pages | where: "path", path | first -%}
  {%- if my_page.title and my_page.title != "Tags" and my_page.title != "Categories" -%}
  <a class="page-link" href="{{ my_page.url | relative_url }}">
    <div>
      <p>
        {{ my_page.title | escape }}
      </p>
    </div>
  </a>
  {%- endif -%}
  {%- endfor -%}
  <a class="page-link" href="#" id="goRetro">
    <div>
      <p>
        Go Retro
      </p>
    </div>
  </a>
</nav>