---
layout: default
---

<article>
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="u-h2">Recent Posts</h2>
  <ul>
    {%- for post in site.posts limit:10 -%}
    {% unless post.url contains "archive" %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }} >> <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{
            post.date | date: "%B %d, %Y" }}</time>
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {% endunless %}
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
</article>